{% for comment in post.comments %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ comment.author_avatar(256) }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2"
                   href="#{{ comment.id }}">{{ comment.author }}</a>said {{ moment(comment.date_posted).fromNow() }}
                <small class="text-muted float-right">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p>
        </div>
    </article>
{% endfor %}
